<!doctype html>
<html lang="en">
	<head>
		<title>Wine Cellar</title>
		<meta charset="utf-8" />
		<!-- <meta name="description" content=""> -->
		<!-- <link rel="stylesheet" href="style-original.css" /> -->
		<!-- <link rel="shortcut icon" href="/favicon.ico"> -->
		<link rel="stylesheet" href="webapp/styles/winecellar.css" />
		<script src="webapp/lib/jquery-2.0.0.min.js"></script>
		<script src="webapp/lib/underscore-1.4.4.js"></script>
		<script src="webapp/lib/backbone-1.1.0.min.js"></script>

		<script src="webapp/scripts/utils.js"></script>		
		<script src="webapp/scripts/models/wine.js"></script>
		<script src="webapp/scripts/views/header.js"></script>
		<script src="webapp/scripts/views/start.js"></script>
		<script src="webapp/scripts/views/wine-detail.js"></script>		
		<script src="webapp/scripts/views/wine-list.js"></script>
		<script src="webapp/scripts/main.js"></script>
<!--
		<script type="text/template" id="header-tmpl">
			<button class="new">New</button>
		</script>

		<script type="text/template" id="form-details-tmpl">
			<div class="form left">
				<label>Id:</label>
				<input type="text" id="wineId" name="id" value="<%= id %>" disabled />

				<label>Name:</label>
				<input type="text" id="name" name="name" value="<%= name %>" required />

				<label>Grapes:</label>
				<input type="text" id="grapes" name="grapes" value="<%= grapes %>" />

				<label>Country:</label>
				<input type="text" id="country" name="country" value="<%= country %>" />

				<label>Region:</label>
				<input type="text" id="region" name="region" value="<%= region %>" />

				<label>Year:</label>
				<input type="text" id="year" name="year" value="<%= year %>" />

				<label>Description:</label>
				<input type="text" id="description" name="description" value="<%= year %>" />

				<button class="save">Save</button>
				<button class="save">Delete</button>
			</div>
		</script>
		<script type="text/template" id="wine-list-item-tmpl">
			<a href="#wines/<%= id %>"><%= name%></a>
		</script>	
		<script type="text/template" id="start-tmpl">
			<div id="content">
				<h2>Welcome to Backbone Cellar</h2>
				<p>This is sample application.</p>
			</div>
		</script>	
-->	
	</head>
	<body>
		<div id="header"></div>
		<div id="sidebar"></div>
		<div id="content"></div>
	</body>
</html>