			<div class="form left">
				<label>Id:</label>
				<input type="text" id="wineId" name="id" value="<%= id %>" disabled />

				<label>Name:</label>
				<input type="text" id="name" name="name" value="<%= name %>" required />

				<label>Grapes:</label>
				<input type="text" id="grapes" name="grapes" value="<%= grapes %>" />

				<label>Country:</label>
				<input type="text" id="country" name="country" value="<%= country %>" />

				<label>Region:</label>
				<input type="text" id="region" name="region" value="<%= region %>" />

				<label>Year:</label>
				<input type="text" id="year" name="year" value="<%= year %>" />

				<label>Description:</label>
				<input type="text" id="description" name="description" value="<%= year %>" />

				<button class="save">Save</button>
				<button class="save">Delete</button>
			</div>