			<div action="" class="winedetail">
				<div class="left">
					<label>Id:</label>
					<input type="text" id="wineId" name="id" value="<%= id %>" disabled />

					<label>Name:</label>
					<input type="text" id="name" name="name" value="<%= name %>" required />

					<label>Grapes:</label>
					<input type="text" id="grapes" name="grapes" value="<%= grapes %>" />

					<label>Country:</label>
					<input type="text" id="country" name="country" value="<%= country %>" />

					<label>Region:</label>
					<input type="text" id="region" name="region" value="<%= region %>" />

					<label>Year:</label>
					<input type="text" id="year" name="year" value="<%= year %>" />
				</div>
				<div class="right">
					<p class="image">
						<% if (picture == "" || picture == null) { picture = "generic.jpg";} %>
						<img src="webapp/data/pics/wines/<%= picture %>" alt="" />
					</p>
					<label>Description:</label>
					<textarea id="description" name="description"><%= description %></textarea>
				</div>
				<div class="controls">
					<button id="saveBtn">Save</button>
					<button id="deleteBtn">Delete</button>
				</div>
			</div>